/* COLOR SCHEMES */
$--color-primary: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
$--color-secondary: #900048;
$--color-drk: #1a2639;
$--color-light: #eeeeee;

/* FONT-SIZES */
$--size-h1: 96px;
$--size-h2: 40px;
$--size-h3: 28px;

/* FONT-WEIGHTS */
$--bold: 600;
$--bolder: 900;

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

/* NAVIGATION BAR */
.nav-bar {
    background: $--color-primary;
    .nav-link {
        color: $--color-drk;
    }
}

/* HEADER */
img {
    margin: 0 auto;
    display: block;
}

.main-header {
    text-align: center;
    font-size: $--size-h1;
    font-family: 'indie flower';
    font-weight: bolder;
}

.second-header {
    text-align: center;
    color: $--color-secondary;
    font-family: 'crafty girls';
    font-weight: bold;
    font-size: $--size-h3;
}

/* CAROUSEL */
.main-carousel {
    background-color: #ffdde1;
}

.carousel-img {
    object-fit: cover;
    width: 40%;
}